<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.twisterrob.jpegtest">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:label="JNI"
		android:icon="@android:drawable/sym_def_app_icon"
		android:theme="@style/AppTheme"
		android:largeHeap="true">
		<activity android:name="net.twisterrob.jpegtest.MainActivity"
		          android:screenOrientation="reverseLandscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>